NEXT_PUBLIC_API_TOKEN = # Authorization bearer token
NEXT_PUBLIC_API_URL = https://your-api-url/entities/{id} # the base url that will be prepended to the ID
NEXT_PUBLIC_API_ITEM_ID = # the id of some entity to fetch
# can be generic or neo4j
NEXT_PUBLIC_API_FEATURE = neo4j
NEXT_PUBLIC_OPTIONS = '{"idNavigate":{"props":{"uuid": true},"url":"http://localhost:3000/{subType}?uuid={id}", "exclude": { "Activity": ["sennet:sennet_id"] }}, "selectorId": "neo4j--app"}'
# Options: "trace", "debug", "info", "warn", "silent" or "error"
NEXT_PUBLIC_LOGLEVEL = debug