.c-help
  font-family $font-family
  font-size .9em
  max-height 500px
  overflow-y auto
  h4
    padding-bottom 1em
    font-size 1.2em
    padding-top .6em
  p
    padding .5em 0
  li
    padding .6em 0

.swal2-styled.swal2-confirm
  background-color transparent
  width 100px
  border solid 1px $col-pale-sky
  color $col-pale-sky
  border-radius 0
  &:hover
    background-color $col-pale-sky
    color white