.c-legend
  font-family $font-family
  padding 20px
  &--flex
    ul
      height 30px
      display flex
      flex-direction column
      flex-wrap wrap
      max-width 500px

  &--filterable
    &:hover
      cursor pointer
    .c-legend__label
      &__text
        &:hover
          color $col-malibu
  &__item
    &.is-disabled
      .c-legend__label
        &__text
          color $col-grey !important
          cursor default
          text-decoration line-through

  &.has-hover
    .c-legend__color
      opacity .5
  li
    list-style none
  span
    display inline-block
  &__item
    &.has-hover
      .c-legend
        &__color
          opacity 1
        &__label
          &__text
            color $col-malibu

    &--Edge
      .c-legend__color
        span
          top 9px
          height 2px
          border-radius inherit


  &__color
    pos-rel()
    width 20px
    height 20px
    span
      pos-abs()
      display block
      width 100%
      height 100%
      border-radius 50%
  &__label
    pos-rel()
    line-height 10px
    span
      pos-rel()
      top -5px
      margin-left 5px

