.c-legend
  font-family $font-family
  padding 20px
  &--btns
    ul
      align-items center

    li
      padding-top 7px
      padding-left 10px
      padding-right 10px
      border-radius 10px
      border solid 1px $col-lgt-grey
      &.c-legend__item--Help
        background-color $col-alice-blue
        border-color $col-periwinkle-grey
        i
          color $col-malibu

  &--flex
    .c-legend__item--Help
      margin-left 50px
    ul
      height 30px
      display flex
      flex-direction column
      flex-wrap wrap
      max-width 700px

  &--filterable
    &:hover
      cursor pointer
    .c-legend__label
      &__text
        &:hover
          color $col-malibu
  &__item
    &.is-disabled
      .c-legend__label
        &__text
          color $col-grey !important
          cursor default
          text-decoration line-through

  &.has-hover
    .c-legend__color
      opacity .5
  li
    list-style none
  span
    display inline-block
  &__item
    &.has-hover
      .c-legend
        &__color
          opacity 1
        &__label
          &__text
            color $col-malibu

    &--Edge
      .c-legend__color
        span
          top 9px
          height 2px
          border-radius inherit

    &--Help

      .c-legend__color
        span
          font-size 18px
        i
          pos-abs()
          right 0
          bottom 0
          color grey

  &__color
    pos-rel()
    width 20px
    height 20px
    span
      pos-abs()
      display block
      width 100%
      height 100%
      border-radius 50%
  &__label
    pos-rel()
    line-height 10px
    span
      pos-rel()
      top -5px
      margin-left 5px

