.c-legend
  font-family $font-family
  padding 20px
  &--filterable
    &:hover
      cursor pointer
    .c-legend__label
      &__text
        &:hover
          color $col-malibu
  &.has-hover
    .c-legend__color
      opacity .5
  li
    list-style none
  span
    display inline-block
  &__item
    &.has-hover
      .c-legend
        &__color
          opacity 1
        &__label
          &__text
            &:hover
              color $col-malibu
  &__color
    width 20px
    height 20px
    border-radius 50%
  &__label
    pos-rel()
    line-height 10px
    span
      pos-rel()
      top -5px
      margin-left 5px
