$col-slate = #656565
$col-lgt-grey = #eee
$col-dk-grey = #333
$col-pale-sky = #6c757d
$col-grey = #807e7e
$col-periwinkle-grey = #d5e3ef
$col-alto = #ddd
$col-silver = #ccc
$col-chalice = #aaa
$col-chateau = #a5abb6
$col-chateau-2 = #9aa1ac
$col-geyser = #dee2e6
$col-suncean = #10caf0
$col-malibu = #6ac6ff
$col-alice-blue = #f0f9ff
$col-selago = #fafbfe
$col-lime = lime

$color-names = "slate"

colors()
  return $col-slate